.Cart {
  position: relative; 
  align-content: center;
 
}
.CartList { 
  
  display:flex;  
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
 


}
.Avatar_text {
  margin: 5px;
  display:flex;  
  padding: 5px;
  

}
.deleteButton {
  margin-left: auto;
}
