.ImageList {  
  display: grid; 
  grid-template-columns: repeat(4,1fr);  
  gap: 10px;
  grid-auto-rows:450px;    
}
.Pagination {
  margin: 10px;
  padding-top: 10px;
}
.sortPagination {
  padding: 5px;
  margin-bottom: 5px;
  width: fit-content;
}
.Card {
  background-color:rgb(240, 240, 249);
  grid-column: span 1;
  padding: 5px;
  overflow:hidden;
  border: 1px solid rgba(255, 255, 255, 0.865);
  width: 300px;
  box-shadow: 3px 3px 3px rgba(0,0,0, 0.5);
  border-radius: 6px;
}
.Card:hover {
  border: 1px solid burlywood;

}

.Title {
  align-items: center;
  text-align: center;
  font-weight: 500;
}
.Price {
  align-items: center;
  text-align: center;
}

@media  (max-width:1500px) {
  .ImageList {  
    grid-template-columns: repeat(3,1fr);

  }
}

@media  (max-width:1200px) {
  .ImageList {  
    grid-template-columns: repeat(3,1fr);

  }
}
@media  (max-width:1150px) {
  .ImageList {  
    grid-template-columns: repeat(2,1fr);

  }
}
@media  (max-width:600px) {
  .ImageList {  
    display: block;
   
    margin: 10px auto;

  }
  .Card {
    margin: 10px auto;
    
  }
}

