.ImageList {
  position: relative;
  padding: 0;
  display: block; 
  background-color: aliceblue;
  
}
.Image {
  margin: 5px;
  padding: 3px; 
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 10px, rgb(0 0 0 / 23%) 0px 3px 10px;
  border-radius: 1px;
 
}
.Image :hover {    
  cursor: grabbing;
  padding: 2px;
  


  
}

.ImageTitle {
  align-items: center;
}