.Product { 
  padding: 5;
  margin: auto;
  display:grid; 
  grid-template-columns: 1fr 2fr;  
  column-gap: 20px;
  align-content: center;
  margin-left: 10px auto;
  max-width: 1200px;   
}
.Image {  
  position: relative;
  height: 750px;  
  width: 500px;    
}  
.RadioGroup {     
  justify-content: center;        
  background-color: aqua;

}

@media  (max-width:800px) {
  .Product { 
    padding: 5;    
    display:block;     
    margin: 10px auto;
    max-width: 800px;       

  }  
  .Image {    
    height: 375px;  
    width: 300px;   
    display: block;    
    margin: auto;
  }  

  .RadioGroup {     
    justify-content: center;        

  }
  .Data {
    display: block;
    margin: 30px auto;
    padding: auto;    
    text-align: center;  
    
  }
}


