.Product { 
  padding: 5;
  display:grid; 
  grid-template-columns: 1fr 1fr;  
  align-content: center;
  margin: 10px auto;
  max-width: 800px; 
  

  
}

.Image {
  padding: 10px;
  
  
}

.Data {
  padding: 10px;
  
  
  
}

